<!DOCTYPE html>
<html>
<head>
    <title>CatDog</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
</head>
<body class="index-body">
    <div class="container">
        <p>Check if your furry friend is truly a Dog or Cat!</p>
        <form id="upload-form" method="post" action="{{ url_for('classify_file') }}" enctype="multipart/form-data">
            <input type="file" class="shine-button" name="image" id="upload-input" accept="image/*" onchange="previewImage()">
            <input type="submit" class="btn" value="Classify">
        </form>
        <div id="image-preview" class="image-preview"></div>
    </div>

    <script>
        function previewImage() {
            var fileInput = document.getElementById('upload-input');
            var imagePreview = document.getElementById('image-preview');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.innerHTML = '<img src="' + e.target.result + '" class="preview-image">';
                }

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</body>
</html>